<div class="row">
    <div class="col-md-6 offset-md-3">
        <form (ngSubmit)="submit()" class="mb-2">
            <div class="input-group">
                <input *ngIf="!hideInput" type="text" class="form-control" placeholder="Name (optional)" [(ngModel)]="name" name="name" autofocus>
                <span class="input-group-btn" style="text-align: center">
                    <button type="submit" class="btn btn-blk" title="Shortcut: ctrl+enter"><ng-content></ng-content></button>
                </span>
            </div>
        </form>
    </div>
</div>
