<racer [racer]="me" [me]="true" *ngIf="me.id" style="display: block;"></racer>
<div *ngFor="let racer of _racers">
    <racer *ngIf="racer != me" [racer]="racer" [me]="false" style="display: block"></racer>
</div>
