<div class="col-lg-8 offset-lg-2 col-md-12 mt-2" style="position: relative;">
    <sentence
        [raceString]="quote?.content"
        [gameMode]="GameMode.Standard"
        [enabled]="gameState == GameState.Started"
        (done)="done($event)"
        (progress)="updateMyProgress($event)">
    </sentence>

    <div class="row mb-2">
        <div class="col-sm-4">
            <span style="font-size: 150%">{{wpm.toFixed(0)}}</span> <span>wpm</span>
        </div>
        <div class="col-sm-4 text-xs-center" *ngIf="gameState == GameState.Finished">
            <span style="font-size: 150%">{{(result.accuracy*100).toFixed(1)}}%</span> <span>accuracy</span>
        </div>
        <div class="col-sm-4 text-xs-right" *ngIf="gameState == GameState.Finished">
            <span style="font-size: 150%">{{(result.realAccuracy*100).toFixed(1)}}%</span> <span>real accuracy</span>
        </div>
    </div>

    <div *ngIf="gameState == GameState.Finished" class="text-xs-center mt-1 mb-1">quote from: {{quote.author}}</div>

    <play [hideInput]="true" [hidden]="gameState != GameState.Finished" (go)="play()">
        <span>Practice Again <i class="fa fa-mail-forward"></i></span>
    </play>
</div>
