.countdown {
    width: 100px;
    height: 100px;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    border-radius: 10px;
}

.countdown > span {
    color: white;
    line-height: 100px;
    font-size: 48px;
    font-weight: bold;
}
