<div class="chat-button" (click)="toggleChat()" title="Toggle Chat"><i class="fa fa-commenting"></i></div>
<div class="chat-history" #chatHistory>
    <div *ngFor="let message of history" [class.system]="message.system"><strong *ngIf="!message.system">{{message.sender}}:</strong> {{message.message}}</div>
</div>
<div class="chat-input">
    <form (ngSubmit)="sendMessage()">
        <input type="text" class="form-control" placeholder="Type a message" [(ngModel)]="chatMessage" name="chatMessage" autofocus>
    </form>
</div>
