.chat-history {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 35px;
    border-bottom: 1px solid #373a3c;
    overflow-y: auto;
    padding-left: 3px;
}

.chat-input {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 35px;
}

.chat-button {
    position: absolute;
    top: 0;
    left: -50px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.system {
    color: gray;
}

input {
    height: 35px;
    border: none;
    margin: 0;
    line-height: 35;
}
