<div class="col-lg-8 offset-lg-2 col-md-12 mt-2" style="position: relative;">
    <sentence
        [raceString]="game?.quote?.content"
        [gameMode]="GameMode.NoMistake"
        [enabled]="game?.state == GameState.Started"
        (done)="done($event)"
        (progress)="updateMyProgress($event)">
    </sentence>
    <race-track [myId]="game?.me" [racers]="game?.clackRace?.racers" [myProgress]="game?.progress"></race-track>
    <div *ngIf="game?.done" class="text-xs-center mt-1 mb-1">quote from: {{game?.quote?.author}}</div>
    <countdown *ngIf="game?.state == GameState.Loading || game?.state == GameState.Starting" [time]="game?.startsIn"></countdown>

    <play [hidden]="game && !game.done" (go)="queue($event)">
        Race<span *ngIf="game"> Again <i class="fa fa-mail-forward"></i></span>
    </play>
</div>
