.racer {
    margin-top: 10px;
    height: 24px;
}

.racer-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 0;
}

.racer-name > span {
    font-weight: bold;
    font-color: #555;
}

.racer-name-dc {
    color: #bbb;
}

.racer-bar {
    height: 4px;
    background-color: #ff8f8f;
    transition: width 0.6s linear;
}

.race-bar-me {
    transition: width 0.3s linear;
    background-color: #7fca7f;
}

.racer-head {
    position: absolute;
    top: -4px;
    width: 12px;
    height: 12px;
    left: 0;
    background-color: red;
    border-radius: 6px;
    transition: left 0.6s linear;
}

.racer-head-me {
    transition: left 0.3s linear;
    background-color: green;
}

.trophy {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.trophy-gold {
    color: gold;
}

.trophy-silver {
    color: #a0a0a0;
}

.trophy-bronze {
    color: saddlebrown;
}
