<div class="row" class="racer">
    <div class="col-xs-3 racer-name">
        <span [class.racer-name-dc]="!racer.connected">{{racer.name}} <span *ngIf="me" style="color: black">(Me)</span></span>
    </div>
    <div class="col-xs-7 col-md-7 col-lg-8" style="height: 20px">
        <div style="height: 4px; background-color: #ccc; width: 100%; margin-top: 10px; position: relative;">
            <div class="racer-bar" [class.race-bar-me]="me" [style.width.%]="(racer.progress ? racer.progress : 0) * 100"></div>
            <div class="racer-head" [class.racer-head-me]="me" [style.left.%]="racer.progress * 100"></div>
        </div>
    </div>
    <div class="col-xs-2 col-md-2 col-lg-1" style="height: 20px">
        <span style="line-height: 20px; white-space: nowrap">
            <i *ngIf="racer.place && racer.place <= 3" class="fa fa-trophy trophy" [class.trophy-gold]="racer.place == 1" [class.trophy-silver]="racer.place == 2" [class.trophy-bronze]="racer.place == 3"></i>
            <span *ngIf="racer.place" style="font-weight: bold" [innerHTML]="racer.place | ordinalIndicator"></span>
            <small *ngIf="racer.wpm">({{racer.wpm?.toFixed(0)}} wpm)</small>
        </span>
    </div>
</div>
