<h5>Players</h5>
<ul>
    <li *ngFor="let player of players">
        {{player.name}}
        <span *ngIf="player.id == me">(me)</span>
        <span *ngIf="player.ready"><i class="fa fa-check-circle" title="This player is ready to race"></i></span>
        <span *ngIf="player.id == host"><i class="fa fa-user" title="This player the room host"></i></span>
    </li>
</ul>
