<div *ngIf="sentence">
    <word *ngFor="let word of sentence?.words" [word]="word" style="display: block; float: left;"></word>
    <div style="clear: both"></div>
    <!-- <input type="text" class="form-control form-control-sm hidden-sm-up" placeholder="Type here"> -->
</div>
