<div class="col-lg-8 offset-lg-2 col-xs-10 offset-xs-1 mt-3" *ngIf="!room">
    <play (go)="connect($event)">{{roomId ? 'Join Room' : 'Create Room'}}</play>
    <div *ngIf="roomId" class="text-xs-center"><a [routerLink]="['/room']">Create your own room</a></div>
</div>
<div *ngIf="room">
    <chat [history]="room.chatHistory" (send)="room.sendChat($event)" class="hidden-xs-down" [class.chatclose]="hideChat" (toggle)="hideChat = $event"></chat>
    <div class="room-content">
        <div>
            <copyit copyText="{{host}}/#/room?id={{room.roomId}}" style="display: inline-block"></copyit>
            <span *ngIf="!room.inGame">
                <button *ngIf="room.amIHost()" class="btn btn-blk btn-sm" style="vertical-align: top" (click)="room.startRace()">Start Race <i class="fa fa-rocket"></i></button>
                <button *ngIf="!room.amIHost()" class="btn btn-blk btn-sm" style="vertical-align: top" (click)="room.readyUp()" [disabled]="room.mePlayer?.ready">Ready</button>
            </span>
            <span *ngIf="room.game?.state == GameState.Started && room.game?.progress == 1 && room.amIHost()">
                <button class="btn btn-blk btn-sm" style="vertical-align: top" (click)="room.endRace()">End Race</button>
            </span>
        </div>

        <div *ngIf="room.inGame && !room.game?.me" class="mt-3 mb-3 text-xs-center"><i>Waiting for race to finish.</i></div>

        <sentence
            *ngIf="room.game?.me"
            [raceString]="room.game?.quote?.content"
            [gameMode]="GameMode.NoMistake"
            [enabled]="room.game?.state == GameState.Started"
            (done)="done()"
            (progress)="updateMyProgress($event)">
        </sentence>
        <race-track [myId]="room.game?.me" [racers]="room.game?.clackRace?.racers" [myProgress]="room.game?.progress"></race-track>
        <div *ngIf="room.game?.state == GameState.Finished" class="text-xs-center mt-1 mb-1">quote from: {{room.game?.quote?.author}}</div>
        <countdown *ngIf="room.game?.state == GameState.Loading || room.game?.state == GameState.Starting" [time]="room.game?.startsIn"></countdown>

        <player-list [players]="room.players" [host]="room.host" [me]="room.me" class="mt-3"></player-list>
    </div>
</div>
