sentence {
    display: block;
    max-height: 50vh;
    overflow-y: hidden;
    scroll-behavior: smooth;
    position: relative;
}

chat {
    border-left: 1px solid #373a3c; 
    display: block;
    position: fixed;
    top: 60px;
    right: 0;
    bottom: 0;
    width: 300px;
    transition: right 0.2s;
}

copyit {
    display: block;
    width: 300px;
}

player-list {
    display: block;
}

.room-content {
    position: absolute;
    bottom: 0;
    left: 50px;
    right: 350px;
    top: 95px;
}

.chatclose {
    right: -300px !important;
}

.btn-blk {
    background-color: #373a3c;
    border-color: black;
    color: white;
}
