<span class="letter" [ngClass]="setClasses()" [class.state-active-mistake]="_letter.mistake">{{_letter.character == ' ' ? '&nbsp;' : _letter.character}}<i *ngIf="_letter.character == ' '"></i></span>
