.state-waiting {
    color: gray;
}

.state-active {
    color: black;
    border-bottom: 2px solid black;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    animation: active-blink-animation 1s steps(5, start) infinite;
    -webkit-animation: active-blink-animation 1.2s steps(5, start) infinite;
    animation-timing-function: cubic-bezier(1, -0.08, 0, 1.17);
    transition: background-color 0.3s;
}

.state-active-mistake {
    background-color: red;
}

@keyframes active-blink-animation {
    to {
        border-bottom-color: rgba(0,0,0,0);
    }
}

@-webkit-keyframes active-blink-animation {
    to {
        border-bottom-color: rgba(0,0,0,0);
    }
}

.state-correct {
    background-color: #e7fbd3;
    color: #008000;
}

.state-incorrect {
    background-color: pink;
    color: darkred;
}

.state-corrected {
    background-color: #ffe9b2;
    color: green;
}

span.letter {
    font-size: 28px;
    font-weight: 600;
    border-radius: 4px;
    font-family: 'Droid Sans Mono', courier;
}
