<div class="input-group input-group-sm">
    <span class="input-group-addon" *ngIf="copyName">{{copyName}}</span>
    <input type="text" class="form-control form-control-sm" readonly value="{{copyText}}" style="background-color: white" #copyit>
    <span class="input-group-btn">
        <button type="button" class="btn btn-sm btn-secondary" [clipboard]="copyit" title="Copy to clipboard"> <i class="fa fa-clipboard"></i> </button>
    </span>
</div>
