<nav class="navbar navbar-full navbar-dark bg-inverse">
    <a class="navbar-brand" href="">
        <img src="assets/images/clack.io.svg" width="132" height="35">
    </a>
    <ul class="nav navbar-nav">
        <li class="nav-item nav-item-clack" [routerLinkActive]="['active']">
            <a [routerLink]="['/game']" class="nav-link" title="Race online">Race</a>
        </li>
        <li class="nav-item nav-item-clack" [routerLinkActive]="['active']">
            <a [routerLink]="['/solo']" class="nav-link" title="Solo practice">Practice</a>
        </li>
        <li class="nav-item nav-item-clack" [routerLinkActive]="['active']">
            <a [routerLink]="['/room']" class="nav-link" title="Race with friends">Friends</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>
